* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  background-color: #60b7da;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 2rem;
}

h2 {
  text-align: center;
}

.solved {
  pointer-events: none;
}

.game-over {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#gif {
  width: 280px;
  height: auto;
  margin: 3rem 0;
}

#retry-btn {
  display: block;
  padding: 1rem;
  background-color: #daac62;
  border-radius: 10px;
  font-weight: bold;
}

.grid-container {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  justify-content: center;
  justify-items: center;
  gap: 0.5rem;
  margin-top: 3rem;
}

img {
  width: 65px;
  height: 95px;
}

@media (width >= 40em) {
  :root {
    font-size: 2rem;
  }

  .grid-container {
    row-gap: 0.5rem;
  }

  h1 {
    margin-top: 1rem;
  }

  img {
    width: 130px;
    height: 188px;
  }

  #gif {
    width: 500px;
    height: auto;
  }
}

@media (width >= 60em) {
  .grid-container {
    margin-top: 2rem;
    grid-template: repeat(4, 7rem) / repeat(4, 8rem);
  }

  img {
    width: 160px;
    height: 232px;
  }

  #gif {
    width: 700px;
    height: auto;
  }
}

@media (width > 90em) {
  :root {
    font-size: 3rem;
  }

  #retry-btn {
    font-size: 1rem;
  }

  img {
    width: 200px;
    height: 290px;
  }

  #gif {
    width: 900px;
    height: auto;
  }
}
